*{
    margin: 0;
    padding: 0;
}

.header1{
    padding: 1% 0%;

}
.navbar-light .navbar-nav .nav-link {
    color: #204f87;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10pt;
}

.navbar-light .navbar-brand {
    padding: 0%;
    min-height: 5.5vh;
}

.img-fluid {
    max-width: 90%;
}

.banner{
    background-image: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 75vh;
    display: flex;
    align-items: center;
    position: relative;
}
.banner h1{
    font-size: 45pt;
    color: #ffffff;
    text-transform: uppercase;
}
.dropdown{
    position: absolute;
    left: 50%;
    top: 88%;
    transform: translate(-50%, 0px);
    animation: downkey 0.6s linear infinite ;
    animation-direction: alternate;
}

.dropdown i{
    color: white;
    font-size: 120%;
}

@keyframes downkey{
    0%{
        top: 88%;
    }
    100%{
        top: 90%;
    }
}

.middle{
    padding-top: 10%;
    padding-bottom: 15%;
}
.wwr{
    align-items: center;
    justify-content: space-between;
}

.wwr .le h1{
    color: #204f87;
    padding: 2% 0%;
    font-size: 36pt;
    font-family: 'Montserrat', sans-serif;
}

.wwr .le p{
    color: #b0b0b1;
    font-size: 10.3pt;
    padding-top: 3%;
}

